body {
  background-color: black;
  color: white;
  font-family: "dejavu serif", serif;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15em;
  transform: translate(-50%, -80%);
}

a:visited {
  color: blue;
}
